* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#snake-platform {
  border: solid black 2px;
  height: 360px;
  width: 360px;
  left: 40%;
  right: 40%;
  top: 300px;
  position: relative;
  background-color: white;
  overflow-block: auto;
}
#snake-platform #snake, #snake-platform img {
  position: absolute;
  height: 30px;
  width: 30px;
}

body {
  background-image: url(../images/snakeChad.jpg);
}